{
    "presets": [
        ["env", {
            "targets": {
                "node": "9.6.1"
            }
        }]
    ],
    "plugins": [
        ["transform-object-rest-spread", {
            "useBuiltIns": true
        }]
    ]
}